VITE_SITE_NAME=🍔Hamburger
VITE_SITE_DESCRIPTION=汉堡图集 Hamburger，一个收录HAM圈有趣图片的树洞
VITE_SITE_ICP=
VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_PUBLIC_GALLERY_BUCKET=gallery-images
VITE_PRIVATE_SUBMISSION_BUCKET=submission-images
VITE_ENABLE_SIGNUP=true
VITE_DEFAULT_REACTION_SET=❤️,👍,😂,😭,🔥,👀,😮,🤔,🥰,👏
VITE_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
VITE_AMAP_JS_KEY=
VITE_AMAP_SECURITY_JS_CODE=
