VITE_SITE_NAME=🍔Hamburger
VITE_SITE_TITLE=汉堡图集 Hamburger - 业余无线电图片分享社区
VITE_SITE_DESCRIPTION=汉堡图集 Hamburger 是一个专注于业余无线电、HAM圈的图片分享社区。收录业余电台、无线电软件、无线电表情包、HAM圈趣图等内容。BD8CWG 创建，为业余无线电爱好者提供图片分享平台。
VITE_SITE_KEYWORDS=业余无线电,业余电台,无线电软件,无线电表情包,HAM,HAM圈,BD8CWG,业余无线电爱好者,电台图片,无线电社区,无线电图片分享,火腿圈,无线电表情,电台表情包
VITE_SITE_AUTHOR=BD8CWG
VITE_SITE_URL=https://g.seeku.site
VITE_SITE_ICP=
VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_PUBLIC_GALLERY_BUCKET=gallery-images
VITE_PRIVATE_SUBMISSION_BUCKET=submission-images
VITE_ENABLE_SIGNUP=true
VITE_DEFAULT_REACTION_SET=❤️,👍,😂,😭,🔥,👀,😮,🤔,🥰,👏
VITE_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
VITE_AMAP_JS_KEY=
VITE_AMAP_SECURITY_JS_CODE=
